.home__container {
  display: grid;
  grid-template-columns: 50% 35% 5%;
  gap: 5%;
  margin-top: 0.5rem;
}

.info__container {
  display: grid;
  grid-template-rows: 20% 80%;

  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--color-dark);
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.cta {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.scroll__down {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--color-dark);
  padding: 0.5rem;
  display: flex;
  align-items: end;
}

/* media queries (medium devices) */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}
