@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-primary: #7c47d7;
  --color-white: #fff;
  --color-dark: #1c2951;
  --color-border: #daa03dff;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-bg);
  /* color: var(--color-white); */
  line-height: 2;
}
/* General Styles */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h2,
h3,
h5,
p {
  color: var(--color-dark);
}

h1 {
  color: var(--color-primary);
  font-size: 2.5rem;
}

section {
  height: 100%;
  padding-bottom: 3rem;
}

section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.text-light {
  color: var(--color-dark);
}

a {
  color: var(--color-black);

  transition: var(--transition);
}

a:hover {
  font-size: 110%;
}

a:visited {
  font-weight: bold;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-bg);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* media queries (medium devices) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* media queries (small devices) */
@media screen and (max-width: 667px) {
  .container {
    width: var(--container-width-sm);
  }
  section {
    margin-top: 2rem;
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
